.book-container{
    box-shadow: none;
    grid-template-columns: repeat(3, auto);
    box-shadow: inset var(--header-bg-row-02) 0px 0px 0px 7px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.book-buy-information{
    display: flex;
    justify-content: space-between;   
    width: 100%;
}



