.book-select-data{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.book-data{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.book-data .data-desc{
    text-align: center;
}