
/* 2.1 Posicionamento do Header */


/* 2.2 Posicionamento dos elementos internos do main */

.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main.dk{
    margin-top: 80px;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
    .main.mob{
        margin-top: 100px;   
    }
}