@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --header-bg-row-01: #FFC400;
    --header-bg-row-02: #38046F;
    --btn: #38046F;
    --btn02: #FFC400;
    --bgcolor: #FFE590;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* 2. Determinar posicionamento e Layout dos Elementos */

body{
    display: flex;
    flex-direction: column;    
    background-color: var(--bgcolor);
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: none;

}

h1{
    font-family: 'Instrument Sans';
}

.emphasis{
    font-style: normal;
    display: inline-flex;
    color: var(--header-bg-row-01);
}
/* .emphasis::after{
    display: inline-flex;
    content: '';
    margin-top: 10px;
    width: 10px;
    height: 10px;
    background-color: #FFC400;

} */

/* .emphasis::after{
    background-color: yellow;
    width: 30px;
    height: 30px;
    content: '';
    display: block;
    position: absolute;
} */