.btn-container{
    display: flex;
    justify-content: center;
}

/* Para o vender */
.btn-container{
    flex-direction: column;
    gap: 1rem;
}

.btn-container{
    background-color: var(--btn02);
    padding: 1rem;
    width: fit-content;
}

.btn{
    display: inline-flex;
    width: fit-content;
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 1.2rem;
    background-color: var(--btn);
    color: rgb(255, 255, 255);
    cursor: pointer;    
    padding: 0.5rem;
    /* Depois pensar na responsividade
    font-size: clamp; 
    */
}

button.btn{
    text-align: left;
}

a.login, a.sign-up{
    background-color: green;
    padding: 0.5rem;
    /* padding: 1%; Vaza da tela*/
}
