footer{
    margin-top: 80px;
    background-color: var(--header-bg-row-01);
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    font-family: 'Instrument Sans';
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer-list a{
    width: fit-content;
}

.footer-list li{
    cursor: pointer;
    
}

.footer-list li:hover{
    text-decoration: underline;
}