
/* 2.1 Posicionamento do Header */


/* 2.2 Posicionamento dos elementos internos do main */

main{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn{
    background-color: blue;
}
a.btn{
    text-decoration: none;
    background-color: #fff;
}



footer{
    margin-top: 80px;
}
/* 3. Determinar Cores */

/* 4. Determinar Fontes */

/* 5. Mudar conforme o documento */