*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* 2. Determinar posicionamento e Layout dos Elementos */

body{
    display: flex;
    flex-direction: column;    
    
}
/* 2.1 Posicionamento do Header */


/* 2.2 Posicionamento dos elementos internos do main */

main{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.week-container{
    display: flex;
    width: 100%;
    background-color: gray;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.week-container .card-container{
    background-color: brown;
    padding: 5%;
    display: flex;
    flex: 1;
    justify-content: center;
}

footer{
    margin-top: 80px;
}
/* 3. Determinar Cores */

/* 4. Determinar Fontes */

/* 5. Mudar conforme o documento */