
/* 2.1 Posicionamento do Header */


/* 2.2 Posicionamento dos elementos internos do main */

main{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.shopping-container{
    height: 25rem;
    background-color: #09f999;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
    gap: 1rem;
}

.product{
    background-color: blue;
}

.products-container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.shopping-container div{
    background-color: #fff;
}

.btn{
    background-color: blue;
}
a.btn{
    text-decoration: none;
    background-color: #fff;
}




/* 3. Determinar Cores */

/* 4. Determinar Fontes */

/* 5. Mudar conforme o documento */