.news-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    padding: 1rem;
    row-gap: 1rem;
    background-color: var(--header-bg-row-01);
    border-radius: 10px;
}

.news-container-title{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.news{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    gap: 1rem;
}
.news-img-container{
    grid-row-start: 1;
    grid-row-end: 3;
    place-self: center;
    height: fit-content;
    background-color: none;
}

.news-container-button{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    text-align: center;
}