@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --btn: #38046F;
    --btn02: #FFC400;
    --bgcolor: #FFE590;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* 2. Determinar posicionamento e Layout dos Elementos */

body{
    display: flex;
    flex-direction: column;    
    background-color: var(--bgcolor);
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: none;

}